::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

.main-container {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  width:100vw;
  height:100vh;
  display:flex;
  overflow:hidden;
}

.header {
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  z-index:1;
}

  .name {
    font-size:3em;
  }

  .nav {
    display:flex;
    flex-flow:row nowrap;
    font-size:2em;
  }

    .nav-item {
      padding-left:3em;
    }

    .nav-selected{
      color:red;
    }

#home-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:center;
}

  .home-img {
    max-width:50%;
    max-height:50%;
    margin-bottom:5%;
  }

#info-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding:20px;
  font-size:14px;
}

  .info {
    margin-bottom:10px;
    line-height:10px;
  }

  #info-content img {
    width:33%;
    min-width:350px;
    max-width:600px;
    margin-bottom:20px;
  }

  #website-info {
    font-size:10px;
    position:absolute;
    bottom:0;
    margin-bottom:20px;
  }

.content-container {
  width:100%;
  height:100%;
  overflow:scroll;
  top:0;
  display:flex;
  flex-flow:column nowrap;
}

  #archive-container {
    padding-top:100px;
  }

  .content {
    padding:20px;
    padding-bottom:100px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
  }

  .horizontal img, .horizontal video {
    width:25%;
    min-width:200px;
    cursor:pointer;
  }

  .vertical img, .vertical video {
    width:10%;
    min-width:150px;
    cursor:pointer;
  }

#label-container {
  position:absolute;
  top:0;
  width:30%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
  font-size:14px;
  line-height:8px;
  text-align:center;
  padding-top:10px;
}

#dodm-container {
  width:100%;
  height:100%;
  overflow:scroll;
  position:absolute;
  top:0;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(5%, 20%));
  grid-template-rows:repeat(auto-fill);
  padding-top:100px;
}

#dodm-container video {
  width:100%;
}

.specific-content-container {
  width:100%;
  height:100%;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
  display:none;
  font-size:0.5em;
}

  .archive-img {
    width:25%;
  }

  .archive-description {
    padding-top:20px;
    width:25%;
    text-align:justify;
  }

  .archive-link {
    padding-top:20px;
    cursor:pointer;
  }

  .return {
    cursor:pointer;
    padding-top:20px;
  }

  .return:hover, .archive-link:hover {
    font-style:italic;
  }

.journal-entry {
  width:100%;
  padding:20px;
  font-size:14px;
}

  .entry-title {
    font-style:italic;
  }

  .entry-date {
    margin-top:5px;
  }

  .entry-images {
    margin-top:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:10px;
    row-gap:10px;
  }

    .entry-images img {
      width:100%;
      align-self:center;
    }

  .entry-content {
    margin-top:10px;
    line-height:14px;
  }
