::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

.main-container {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  width:100vw;
  height:100vh;
  display:flex;
  overflow:hidden;
}

.header {
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}

  .name {
    font-size:3em;
  }

  .nav {
    display:flex;
    flex-flow:row nowrap;
    font-size:2em;
  }

    .nav-item {
      padding-left:3em;
    }

    .nav-selected{
      color:red;
    }

#home-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:center;
}

  .home-img {
    max-width:50%;
    max-height:50%;
    margin-bottom:10%;
  }

#info-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding:20px;
  font-size:14px;
}

  .info {
    margin-bottom:10px;
    line-height:10px;
  }

  #info-content img {
    width:33%;
    min-width:350px;
    max-width:600px;
    margin-bottom:20px;
  }

  #website-info {
    font-size:10px;
    position:absolute;
    bottom:0;
    margin-bottom:20px;
  }

.content-container {
  width:100%;
  height:100%;
  overflow:scroll;
  position:absolute;
  top:0;
  display:flex;
  flex-flow:column nowrap;
  padding-top:150px;
}

  .content {
    width:100%;
    padding:20px;
    padding-bottom:100px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
  }

  .horizontal img, .horizontal video {
    width:25%;
    min-width:200px;
    cursor:pointer;
  }

  .vertical img, .vertical video {
    width:10%;
    min-width:150px;
    cursor:pointer;
  }

.dodm-container {
  width:100%;
  height:100%;
  overflow:scroll;
  position:absolute;
  top:0;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  gap:20px;
  padding-top:100px;
  padding-left:20px;
  padding-right:20px;
}

.dodm-container video {
  width:15%;
  min-width:150px;
}
